.home-botton {
    width: 150px;
    height: 150px;
    background-image: url("home.png");
    background-color: #3bb6ed;
    border-style:hidden;
    background-size: 150px;
    color: white;
    font-size: 22px;
    font-style:inherit;
}

.home-botton:hover
{
        cursor: pointer;
        background-color: #7ba8ff;
}

.boton{
    text-align: right;
    
}
.logo
{
    position: center; 
    width: 150px;
    height: 180px;
}

.UACJ
{
    font-size: 30px;
    font-family:'Arial Rounded MT';
    color: #FFFFCC;
}

.head
{
    background-color: #0080FF;
    width: 100%;
    height: 100%;
}


.body-elements
{
    padding: 16px;
}

.menu 
{
    width: 100%;
    text-align: center;
    background-color: #3333FF;
}

table,  html, div
{
    width: 100%;

}

.listas{
    font-size: 42px;
    font-style: normal;
    font-family: Arial;
    list-style-type:none;
    padding: 12px;

}

.layout {
    width:  100%;
    text-align: center;


}
.opciones
{
    width: 100%;
    height: 100%;
}



.ul1 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    width: 100%;


}

.l1 
{
    float:left ;
    padding-left: 50px;
    padding-right: 50px;	
    width: 100%;

}

.l1 a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size:x-large;
}

.l1 a:hover 
{
    background-color: #099fff;
}

              
.ul2 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: red;
    align-content:center;
    align-items:center;
    text-align:right;

    

}

.l2
{
    background-color:red;
    float: right;
    text-align: right;
    padding-left: 44px;
    padding-right: 44px;
}

.l2 a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size:x-large;

}

.l2 a:hover 
{
    background-color: #099fff;
}
